.secao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    gap: 104px;
    border-bottom: 7px solid black;
    background-color: lightgray;
}

#segundaSecao {
    background-color: white;
    flex-direction: column;
}

.boxBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    padding: 10px;
    margin-left: 50px;
}

.boxAv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border: 3px solid black;
    
}

.boxSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: 20px;
}

.boxWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

#imgCaminhao {
    width: 200;
    height: 250px;
}
